<li>
	{{name}}

	<button class="devour-it" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}{{else}}Devour it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
